<footer>
  <ul class="hbox big">
    <li><a href="#">Disclaimer</a></li>
    <li><a href="#">Terms of Use</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">XHTML5</a>/<a href="#">CSS3</a></li>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Notepad</a></li>
  </ul>
  <div class="icons">
    <a href="https://anjames.deviantart.com/" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/deviantart_32.png" alt="deviantART"/>
      <span>deviantART</span>
    </a>
    <a href="https://drupal.org/user/322251 " rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/drupal_32.png" alt="Drupal"/>
      <span>Drupal</span>
    </a>
    <a href="mailto:james@jamesan.ca" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/email_32.png" alt="Email"/>
      <span>Email</span>
    </a>
    <a href="https://www.evernote.com/pub/anjames00/public " rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/evernote_32.png" alt="Evernote"/>
      <span>Evernote</span>
    </a>
    <a href="https://www.facebook.com/people/James-An/28108218" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/facebook_32.png" alt="Facebook"/>
      <span>Facebook</span>
    </a>
    <a href="https://foursquare.com/james_an " rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/foursquare_32.png" alt="foursquare"/>
      <span>foursquare</span>
    </a>
    <a href="https://github.com/jamesan " rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/github_32.png" alt="github"/>
      <span>github</span>
    </a>
    <a href="https://profiles.google.com/james.jamesan " rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/google_32.png" alt="Google"/>
      <span>Google</span>
    </a>
    <a href="http://gravatar.com/jamesan00" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/gravatar_32.png" alt="Gravatar"/>
      <span>Gravatar</span>
    </a>
    <a href="http://listen.grooveshark.com/#/user/jamesan " rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/grooveshark_32.png" alt="Grooveshark"/>
      <span>Grooveshark</span>
    </a>
    <a href="https://www.linkedin.com/in/jamesan " rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/linkedin_32.png" alt="LinkedIn"/>
      <span>LinkedIn</span>
    </a>
    <a href="https://www.odesk.com/users/~~a045fdc56020fe95?_redirected " rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/odesk_32.png" alt="oDesk"/>
      <span>oDesk</span>
    </a>
    <a href="skype:james.an.00?userinfo" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/skype_32.png" alt="Skype"/>
      <span>Skype</span>
    </a>
    <a href="http://stackoverflow.com/users/372645/james-an " rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/stackoverflow_32.png" alt="Stack Overflow"/>
      <span>Stack Overflow</span>
    </a>
    <a href="http://profiles.tigweb.org/JamesAn" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/takingitglobal_32.png" alt="TakingITGlobal"/>
      <span>TakingITGlobal</span>
    </a>
    <a href="https://twitter.com/james_an" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/twitter_32.png" alt="Twitter"/>
      <span>Twitter</span>
    </a>
    <a href="https://www.youtube.com/user/JamesAn00" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/youtube_32.png" alt="YouTube"/>
      <span>YouTube</span>
    </a>
  </div>
</footer>