<footer>
  <div class="icons">
    <a href="https://anjames.deviantart.com/" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/deviantart_32.png" alt="deviantART"/>
      <span>deviantART</span>
    </a>
    <a href="https://drupal.org/user/322251" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/drupal_32.png" alt="Drupal"/>
      <span>Drupal</span>
    </a>
    <a href="mailto:james@jamesan.ca" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/email_32.png" alt="Email"/>
      <span>Email</span>
    </a>
    <a href="https://www.evernote.com/pub/anjames00/public" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/evernote_32.png" alt="Evernote"/>
      <span>Evernote</span>
    </a>
    <a href="https://facebook.com/James.An.00" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/facebook_32.png" alt="Facebook"/>
      <span>Facebook</span>
    </a>
    <a href="http://flickr.com/people/109968318@N06" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/flickr_32.png" alt="Flickr"/>
      <span>Flickr</span>
    </a>
    <a href="https://foursquare.com/james_an" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/foursquare_32.png" alt="Foursquare"/>
      <span>foursquare</span>
    </a>
    <a href="https://github.com/jamesan" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/github_32.png" alt="GitHub"/>
      <span>github</span>
    </a>
    <a href="https://goodreads.com/user/show/5261362-james-an" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/goodreads_32.png" alt=""/>
      <span></span>
    </a>
    <a href="https://plus.google.com/106378349122426828843s" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/google+_32.png" alt="Google+"/>
      <span>Google+</span>
    </a>
    <a href="http://gravatar.com/jamesan00" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/gravatar_32.png" alt="Gravatar"/>
      <span>Gravatar</span>
    </a>
    <a href="http://grooveshark.com/jamesan" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/grooveshark_32.png" alt="Grooveshark"/>
      <span>Grooveshark</span>
    </a>
    <a href="http://www.last.fm/user/jamesan00" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/lastfm_32.png" alt="Last.fm"/>
      <span>Last.fm</span>
    </a>
    <a href="https://www.linkedin.com/in/jamesan" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/linkedin_32.png" alt="LinkedIn"/>
      <span>LinkedIn</span>
    </a>
    <a href="https://www.odesk.com/users/~~a045fdc56020fe95" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/odesk_32.png" alt="oDesk"/>
      <span>oDesk</span>
    </a>
    <a href="https://pinterest.com/jamesan00" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/pinterest_32.png" alt="Pinterest"/>
      <span></span>
    </a>
    <a href="skype:james.an.00?userinfo" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/skype_32.png" alt="Skype"/>
      <span>Skype</span>
    </a>
    <a href="https://stackexchange.com/users/155772/james-an" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/stackexchange_32.png" alt="Stack Exchange"/>
      <span></span>
    </a>
  <a href="http://stackoverflow.com/users/372645/james-an" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/stackoverflow_32.png" alt="Stack Overflow"/>
      <span>Stack Overflow</span>
    </a>
    <a href="http://profiles.tigweb.org/JamesAn" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/takingitglobal_32.png" alt="TIG"/>
      <span>TakingITGlobal</span>
    </a>
    <a href="https://tumblr.jamesan.ca" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/tumblr_32.png" alt="Tumblr"/>
      <span>Twitter</span>
    </a>
    <a href="https://twitter.com/james_an" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/twitter_32.png" alt="Twitter"/>
      <span>Twitter</span>
    </a>
    <a href="https://www.worldcommunitygrid.org/stat/viewMemberInfo.do?userName=jamesan" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/worldcommunitygrid_32.png" alt="WCG"/>
      <span></span>
    </a>
    <a href="http://profile.yahoo.com/IX2DIKQLHDYW62KEOKHG25ZDSU" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/yahoo_32.png" alt="Yahoo!"/>
      <span></span>
    </a>
    <a href="https://www.youtube.com/user/JamesAn00" rel="external nofollow" class="icon">
      <img width="32" height="32" src="/images/icons/networks/youtube_32.png" alt="YouTube"/>
      <span>YouTube</span>
    </a>
  </div>
</footer>
