<header class="hbox">
  <div id="title">
    <h3 class="bigger">Hello! My name is</h3>
    <h1 class="larger"><a href="/">James An.</a></h1>
    <h2 class="bigger">This is <span>{{ page.head | downcase }}</span>!</h2>
  </div>
  <nav class="boxFlex vbox center">
    <div class="center big">
      <h1 class="bigger">About</h1>
      <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
      <h1 class="bigger">Work</h1>
      <ul>
        <li><a href="/projects">Portfolio</a></li>
        <li><a href="/jobs">Employment</a></li>
      </ul>
      <h1 class="bigger">Talk</h1>
      <ul>
        <li><a href="/posts">Dev.Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div id="contact-info" class="boxFlex vbox center big">
    <a href="mailto:james@jamesan.ca" rel="external nofollow">james@jamesan.ca</a><br/>
    <a href="http://maps.google.com/maps?ll=43.65,-79.37&amp;spn=0.04,0.09&amp;t=h&amp;z=12" rel="external nofollow">Toronto, Canada</a><br/>
    <a href="https://twitter.com/james_an" rel="external nofollow">@james_an</a>
  </div>
</header>
