@font-face {
  font-family: "Vegur";
  font-weight: 100;
  src: url("../fonts/Vegur-L 0602.otf");
}

@font-face {
  font-family: "Vegur";
  font-weight: 300;
  src: url("../fonts/Vegur-R 0602.otf");
}

@font-face {
  font-family: "Vegur";
  font-weight: 400;
  src: url("../fonts/Vegur-M 0602.otf");
}

@font-face {
  font-family: "Vegur";
  font-weight: 700;
  src: url("../fonts/Vegur-B 0602.otf");
}

/* By: Alex Russell
   http://infrequently.org/2009/08/css-3-progress/
   */

/* hbox and vbox classes */

.hbox > *,
.vbox > *,
.cbox > * {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  display: block;
}

.hbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
}

.vbox {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;

  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}

.cbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: center;
  -moz-box-pack: center;
}

.spacer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}

.reverse {
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
}

.boxFlex0 {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
}

.boxFlex1, .boxFlex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}

.boxFlex2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
}

.boxGroup1 {
  -webkit-box-flex-group: 1;
  -moz-box-flex-group: 1;
}

.boxGroup2 {
  -webkit-box-flex-group: 2;
  -moz-box-flex-group: 2;
}

.start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
}

.end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
}

.center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
}
