.glance .back {
  text-align: right;
}

.icons .icon {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  position: relative;
  width: 32px;
}

.icons .icon > * {
  cursor: default;
  height: 32px;
  position: absolute;
  width: 32px;
}

.icons a.icon > * {
  cursor: pointer;
}

.icons .icon > span {
  color: #F7931E;
  margin: 1px;
  text-align: center;
  text-shadow: #000 1px 0 1px,
               #000 0 1px 1px,
               #000 -1px 0 1px,
               #000 0 -1px 1px;
  width: 30px;
}

#content .project {
  display: inline-block;
  height: 218px;
  line-height: 218px;
  margin: 3px;
  position: relative;
  width: 290px;
}

#content .project > * {
  height: 218px;
  position: absolute;
  width: 290px;
}

#content .project > span {
  color: #F7931E;
  text-align: center;
  text-shadow: #FFF 1px 0 1px,
               #FFF -1px 0 1px,
               #FFF 0 -1px 1px,
               #FFF 0 1px 1px,
               #000 2px 0 1px,
               #000 -2px 0 1px,
               #000 0 -2px 1px,
               #000 0 2px 1px;
}

#resume table {
  font-family: "Vegur";
  font-weight: 300;
  width: 100%;
}

#resume table.roles td {
  padding-bottom: 10px;
}

#resume table.roles td:first-child {
  vertical-align: top;
}

#resume table.roles td:nth-child(-n+2) {
  font-size: 16px;
}

#resume table.roles td:nth-child(3) {
  font-family: Georgia, serif;
}

#resume table.skills th,
#resume table.skills td {
  font-size: 16px;
  text-align: left;
}

#resume table.skills th {
  font-weight: inherit;
  text-decoration: underline;
}

#resume table.skills td.proficient {
  font-weight: 700;
}

#resume table.skills td.competent {
  font-weight: inherit;
}

#resume table.skills td.novice {
  font-weight: 100;
}

#contact form input,
#contact form img,
#contact form textarea {
  font-size: 20px;
  line-height: 24px;
  margin: 10px;
}

#contact form * {
}

#contact form input[name="captcha_code"] {
  font-size: 28px;
  line-height: 36px;
  padding: 2px;
}

#contact form input[type="submit"] {
  border: 1px solid;
  line-height: 36px;
}

#contact form img {
  height: 104px;
}
