.glance .back {
  text-align: right;
}

.glance .icons .alt,
body > footer .alt,
#content .project .alt {
  display: block;
  margin: 0 1px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  z-index: -1;
}

.glance .icons .alt,
body > footer .alt {
  cursor: default;
  height: 32px;
  line-height: 32px;
  width: 30px;
}

#content .project {
  display: inline-block;
  height: 218px;
  line-height: 218px;
  margin: 3px;
  position: relative;
  width: 290px;
}

#content .project > * {
  height: 218px;
  position: absolute;
  width: 290px;
}

#content .project > span {
  color: #F7931E;
  text-align: center;
  text-shadow: #FFF 1px 0px 1px,
               #FFF 0px 1px 1px,
               #FFF -1px 0px 1px,
               #FFF 0px -1px 1px;
}

#contact form input,
#contact form img,
#contact form textarea {
  font-size: 20px;
  line-height: 24px;
  margin: 10px;
}

#contact form * {
}

#contact form input[name="captcha_code"] {
  font-size: 28px;
  line-height: 36px;
  padding: 2px;
}

#contact form input[type="submit"] {
  border: 1px solid;
  line-height: 36px;
}

#contact form img {
  height: 104px;
}