/*  Less Framework 4
  http://lessframework.com
  by Joni Korpi
  License: http://creativecommons.org/licenses/MIT/  */


/*  Resets
  ------  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

p {
  margin-bottom: 10px;
}

a img {border: 0;}

a {
  color: #F7931E; /* Orange */
  text-shadow: 1px 1px 1px #aaa;
  text-decoration: none;
}

a:link,
a:visited {
}

a:hover,
a:active {
  color: #804C0F; /* Dark orange */
}



/*  Typography presets
  ------------------  */

h1, h2, h3, h4, h5, h6 {
  font-family: "Vegur";
  text-shadow: 1px 1px 1px #aaa;
}

.gigantic {
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -1px;
}

.larger, h2 {
  font-size: 42px;
  line-height: 48px;
}

.large, h3 {
  font-size: 26px;
  line-height: 36px;
}

.bigger, h4 {
  font-size: 22px;
  line-height: 30px;
}

.big, h5 {
  font-size: 16px;
  line-height: 22px;
}

.normal, body {
  font-size: 12px;
  line-height: 22px;
}

.small, small {
  font-size: 13px;
  line-height: 18px;
}

.smaller {
  font-size: 10px;
  line-height: 14px;
}

body, textarea, input {
  font-family: Georgia, serif;
}

/* Selection colours (easy to forget) */

::selection      {background: rgb(255,255,158);}
::-moz-selection   {background: rgb(255,255,158);}
img::selection     {background: transparent;}
img::-moz-selection  {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*    Default Layout: 992px. 
    Gutters: 24px.
    Outer margins: 48px.
    Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
  width: 896px;
  padding: 28px 48px;
  background: rgb(232,232,232);
  color: rgb(60,60,60);
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
  margin: auto;
}

body > * {
  clear: both;
  padding: 10px 0;
  width: 100%;
}

body > header {
  text-transform: uppercase;
}

body > header,
body > footer {
  border-bottom: 2px solid #666;
  border-top: 2px solid #666;
  font-family: "Vegur";
  text-shadow: 1px 1px 1px #aaa;
}

body > header hgroup {
  min-width: 300px;
}

body > header hgroup h1 {
  font-weight: bold;
}

body > header hgroup h2,
body > header hgroup h3 {
  font-weight: 100;
}

body > header hgroup h2 span {
  color: #F7931E; /* Orange */
}

body > header nav div {
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  width: 400px;
}

body > header nav h1 {
  -webkit-column-break-before: always;
  color: #F7931E; /* Orange */
}

body > header nav a:hover,
body > header nav a:active {
  -webkit-column-break-before: always;
  color: #F7931E; /* Orange */
}

#contact-info {
  font-weight: bold;
  text-align: right;
}

#contact-info a {
  display: inline;
  font-weight: bold;
}

body > header ul,
body > footer ul {
  list-style-type: none;
}

body > header a,
body > footer a {
  color: #000;
  font-weight: normal;
}

body > footer li {
  margin-right: 20px;
}

body > div {
  padding-bottom: 28px;
  padding-top: 28px;
}

body > div h1 {
  color: #F7931E; /* Orange */
  margin-bottom: 10px;
}

body > div > aside {
  margin-left: 20px;
  max-width: 300px;
  min-width: 300px;
}
