<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
  <title>{{ page.title | capitalize}} | JamesAn.ca</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
  <script src="/externals/javascripts/jquery.bgiframe.min.js"></script>
  <script src="/externals/javascripts/jquery.tinyLightbox.min.js"></script>
  <script src="/externals/javascripts/jquery.tinyLightbox.parallel.js"></script>
  <script src="/externals/javascripts/jquery.timeago-0.9.3.min.js"></script>
  <script src="/externals/javascripts/jquery.stretch-0.9.3.min.js"></script>
  <script src="/externals/javascripts/date-en-CA.js"></script>
  <script src="/externals/javascripts/parse-twitter-text.min.js"></script>
  <script src="/javascripts/page.js"></script>
  <link rel="stylesheet" media="all" href="/externals/stylesheets/jquery.tiny-lightbox.min.css"/>
  <link rel="stylesheet" media="all" href="/stylesheets/elements.css"/>
  <link rel="stylesheet" media="all" href="/stylesheets/style.css"/>
  <link rel="stylesheet" media="all" href="/stylesheets/page.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
</head>

<body lang="en">

{% include header.html %}

<div id="{{ page.id }}" class="hbox {{ page.categories }}">
{{ content }}
</div>

{% include footer.html %}

</body>

</html>