---
layout: work
---
    <div class="back">
      <a href="/jobs">Back to employment</a>
    </div>
    {% if page.image_num > 0 %}
      <div class="gallery">
        {% for i in (1..page.image_num) %}
          <a href="http://placehold.it/400&text={{ page.title | downcase | replace:' ','-' }}-{{ i }}-full.jpg">
            <img src="http://placehold.it/147&text={{ page.title | downcase | replace:' ','-' }}-{{ i }}.jpg"/>
          </a>
        {% endfor %}
      </div>
    {% endif %}
    <div class="icons">
      {% for icon in page.techs %}
        <img src="/images/icons/techs/{{ icon | downcase | url_encode }}.png" alt="{{ icon }}"/>
      {% endfor %}
    </div>
    <div class="details">
      Start date: {{ page.start_date | date: "%b %d %Y" }}<br/>
      End date: {{ page.date | date: "%b %d %Y" }}<br/>
      Company URL: <a href="{{ page.address }}" rel="external nofollow">{{ page.address }}</a><br/>
      Role: {{ page.role | capitalize }}<br/>
      Reporting to: {{ page.manager }}
    </div>