---
layout: work
---
    <div class="back">
      <a href="/jobs">Back to employment</a>
    </div>
    <div class="gallery">
      {% for format in page.gallery_formats %}
        <a href="/images/jobs/{{ page.title | downcase | replace:' ','-' }}-{{ forloop.index }}-full.{{ format }}">
          <img width="147" height="147" src="/images/jobs/{{ page.title | downcase | replace:' ','-' }}-{{ forloop.index }}.{{ format }}"/>
        </a>
      {% endfor %}
    </div>
    <div class="icons">
      {% for icon in page.techs %}
        <span class="icon">
          <img width="32" height="32" src="/images/icons/techs/{{ icon | downcase | replace:' ','-' }}.png" alt="{{ icon }}"/>
          <span>{{ icon }}</span>
        </span>
      {% endfor %}
    </div>
    <div class="details">
      Start date: {{ page.start_date | date: "%b %d %Y" }}<br/>
      End date: {{ page.date | date: "%b %d %Y" }}<br/>
      Company URL: <a href="{{ page.address }}" rel="external nofollow">{{ page.address }}</a><br/>
      Role: {{ page.role | capitalize }}<br/>
      Reporting to: {{ page.manager }}
    </div>