---
layout: work
---
    <div class="back">
      <a href="/projects">Back to portfolio</a>
    </div>
    <div class="gallery">
      {% for format in page.gallery_formats %}
        <a href="/images/projects/{{ page.title | downcase | replace:' ','-' }}-{{ forloop.index }}-full.{{ format }}">
          <img width="147" height="147" src="/images/projects/{{ page.title | downcase | replace:' ','-' }}-{{ forloop.index }}.{{ format }}"/>
        </a>
      {% endfor %}
    </div>
    <div class="icons">
      <span class="icon">
        <img width="32" height="32" src="/images/icons/others/{{ page.status | downcase | replace:' ','-' }}.png" alt="{{ page.status }}"/>
        <span>{{ page.status }}</span>
      </span>
      <span class="icon">
        <img width="32" height="32" src="/images/icons/others/{{ page.intent | downcase | replace:' ','-' }}.png" alt="{{ page.intent }}"/>
        <span>{{ page.intent }}</span>
      </span>
      {% for icon in page.work %}
        <span class="icon">
          <img width="32" height="32" src="/images/icons/others/{{ icon | downcase | replace:' ','-' }}.png" alt="{{ icon }}"/>
          <span>{{ icon }}</span>
        </span>
      {% endfor %}
    </div>
    <div class="icons">
      {% for icon in page.techs %}
        <span class="icon">
          <img width="32" height="32" src="/images/icons/techs/{{ icon | downcase | replace:' ','-' }}.png" alt="{{ icon }}"/>
          <span>{{ icon }}</span>
        </span>
      {% endfor %}
    </div>
    <div class="details">
      {% if page.status == "In progress" %} Unfinished {% else %} Finished: {{ page.date | date: "%b %d %Y" }} {% endif %}<br/>
      URL: <a href="{{ page.address }}" rel="external nofollow">{{ page.address }}</a>
    </div>