---
layout: work
---
    <div class="back">
      <a href="/projects">Back to portfolio</a>
    </div>
    <div class="gallery">
      {% for i in (1..page.image_num) %}
        <a href="http://placehold.it/400&text={{ page.title | downcase | replace:' ','-' }}-{{ i }}-full.jpg">
          <img src="http://placehold.it/147&text={{ page.title | downcase | replace:' ','-' }}-{{ i }}.jpg"/>
        </a>
      {% endfor %}
    </div>
    <div class="icons">
      <img src="/images/icons/others/{{ page.status | downcase | replace:' ','-' }}.png" alt="{{ page.status }}"/>
      <img src="/images/icons/others/{{ page.intent | downcase | replace:' ','-' }}.png" alt="{{ page.intent }}"/>
      {% for icon in page.work %}
        <img src="/images/icons/others/{{ icon | downcase | replace:' ','-' }}.png" alt="{{ icon }}"/>
      {% endfor %}
      {% for icon in page.techs %}
        <img src="/images/icons/techs/{{ icon | downcase | url_encode }}.png" alt="{{ icon }}"/>
      {% endfor %}
    </div>
    <div class="details">
      Finished: {{ page.date | date: "%b %d %Y" }}<br/>
      URL: <a href="{{ page.address }}" rel="external nofollow">{{ page.address }}</a>
    </div>